/* Successful launch section */
.success-launch,
.success-landing {
  margin: 2px;
  font-size: 14px;
  text-align: center;
  padding: 2px 2px 2px 2px;
}

.missionpatch {
  height: 256px;
  width: 232px;
  background: var(--primary-color);
}
.launch-program-list-item {
  border-radius: 8px;
  margin: 0 4px 11px 4px;
  background: var(--primary-white);
}
.launch-program-inner {
  text-align: center;
  padding: 16px 2px;
  margin: 2px;
}
/* Developer name section */
.developer-name {
  font-size: 22px;
  text-align: center;
}
.flightdescription {
  font-weight: 550;
  color: #00539b;
  margin: 4px;
}
.flightpatchcontent {
  text-align: center;
}
.fontweight {
  font-weight: 550;
}
.fontcolor {
  color: #00539b;
}
